.DecryptingForm {
    margin-top: 150px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    hyphens: auto;
    box-sizing: border-box;
    padding: 20px;
    word-wrap: break-word;
    border-radius: 12px;
    position: absolute;
    bottom: 200px;

    p {
        font-size: 16px;
    }
}