.ChatComp {
    height: 100%;
    padding: 0px 60px;

    @import './LoadForm/LoadForm';

    @import './CreateForm/CreateForm';

    @import './RegisterForm/RegisterForm';

    @import './ChatView/ChatView';

    input {
        margin-top: 20px;
    }

}