.ChatComp {
    height: 100%;
    margin: 0px 60px;
    position: relative;

    @import './DecryptingForm/DecryptingForm';

    @import './LoadForm/LoadForm';

    @import './CreateForm/CreateForm';

    @import './RegisterForm/RegisterForm';

    @import './ChatView/ChatView';

    & > input {
        margin-top: 20px;
        box-sizing: border-box;
        
        position: absolute;
        top: 80%;
        margin-top: 20px;
    }
}