html {
    height: 100%;
    width: 100%;

    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p, a {
    font-size: 2rem;
}