html {
    height: 100%;
    width: 100%;

    font-family: $fontFamily;
    font-size: 62.5%;
    color: $black;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p, a, button {
    font-size: 2rem;
    line-height: 1.2;
}

button {
    background: $white;
    height: 40px;
    border: 2px solid $black;
    border-radius: 10px;
    outline: none;

    font-size: 1.6rem;
    font-weight: $medium;

    &:hover {
        cursor: pointer;
        border: 2px solid $separatorGrey;
    }
}

input {
    outline: none;
    border: none;
    border-top: 2px solid $separatorGrey;
    width: 100%;
    padding: 14px;
    font-size: 2rem;
    font-weight: $regular;
    color: $black;
}