// Font config
$fontFamily: 'Quicksand';
// - Weight
$regular: 400;
$medium: 500;
$semi: 600;


// Colors config
$white: #fff;
$black: #212121;
$ciphyrRed: #EA4C55;
$separatorGrey: #C9C9C9;
$message: #343434;