$marginTop: 20px;
$maxWidth: 1000px;

.ChatClient {
    height: 100%;
    width: $maxWidth;

    margin: auto;
    transform: translateX(-180px);

    display: grid;
    grid-template-columns: 300px 700px;
}

@import './SidebarComp/SidebarComp';
@import './ChatComp/ChatComp';