$maxWidth: 1200px;

.ChatClient {
    width: $maxWidth;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

@import './SidebarComp/SidebarComp';
@import './ChatComp/ChatComp';