$marginTop: 20px;
$maxWidth: 1000px;

.ChatClient {
    height: 100%;
    width: $maxWidth;

    margin: auto;
    transform: translateX(-180px);

    display: grid;
    grid-template-columns: 3fr 7fr;

    @media (max-width: 1450px) {
        transform: none;
    }

    @media (max-width: 1100px) {
        grid-template-columns: 1fr;
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        box-sizing: border-box;
        margin-bottom: 100px;
    }
}

@import './SidebarComp/SidebarComp';
@import './ChatComp/ChatComp';